.about{
    padding-left:90px;
    padding-right: 90px;
    margin:15px;
}
.about-banner{
    width: 900px;
    height: auto;
    padding-bottom: 30px;
}

.classdoon{
    color: #000000;
    text-decoration: underline #4285F4;

}

ul{
    list-style: circle #4285F4;
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
    .about{
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-banner{
        max-width: 650px;
        height: auto;
    }
}

@media screen and (max-width: 767px){
    .about{
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
    }
    .about-banner{
        margin-top:20px;   
        max-width: 300px;
    }
}