.card-start{
    margin-top: 50px;
}
.reset-button{
    margin-left: 100px;
}

.filter{
    margin-right: 5px;
}

.about-banner{
    width: 2000px;
    height: auto;
}

#basic-nav-dropdown{
    font-size: 23px;
    color: #000000;
    text-decoration: underline 4px #064d90;
}

.search{
    margin-left: 50px;
    width: 650px;
}

@media screen and (max-width: 767px){
    .about-banner{
        max-width: 320px;
        margin: auto;
    }
    .reset-button{
        margin-left: 40px;
    }
}