/* .card-in{
    width: 250px;
    border-color: #a3eeee;
} */
.card-img{
    height: 250px;
}
.card-h{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
.button-card{
    color: #000000;
    text-decoration: underline 3px #4285F4;
}
.button-card:hover{
    color: #000000;
    text-decoration: underline 3px #4285F4;
}
.button-card:visited{
    color: #000000;
    text-decoration: underline 3px #4285F4;
}
.button-card.active{
    color: #000000;
    text-decoration: underline 3px #4285F4;
}
.footer-txt{
    text-align: center;
}
.cardimg{
    max-height: 250px;
    max-width: 250px;
}
.modal-h{
    background-color: #000000;
    color: #ffffff;
}
.in{
    font-size: 16px;
    font-weight: 600;
}
.footer-txt a{
    color: #000000;
    text-decoration: underline 3px #4285F4;
}
.footer-txt a:hover{
    color: #000000;
    text-decoration: underline 3px #4285F4;
}
.footer-txt a.active{
    color: #000000;
    text-decoration: underline 3px #4285F4;
}
.footer-txt a:visited{
    color: #000000;
    text-decoration: underline 3px #4285F4;
}
.vm{
    display: inline-block;
    margin: 0;
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
    .card-img{
        width: 170px;
        height: auto;
        margin: auto;
        display: block;
    }
    .in{
        font-size: 15px;
        font-weight: 400;
    }
}

@media screen and (max-width: 767px){
    .card-in{
        margin-left: auto;
        margin-right: auto;
    }
    .card-img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 300px;
        height: auto;
    }
}