.card-in{
    width: 250px;
    border-color: #a3eeee;
}
.card-h{
    background-color: #000000;
    color: #a3eeee;
    text-align: center;
}
.button-card{
    width: 100%;
    color: #000000;
    text-decoration: underline 3px #a3eeee;
}
.button-card:hover{
    color: #000000;
    text-decoration: underline 3px #a3eeee;
}
.button-card:visited{
    color: #000000;
    text-decoration: underline 3px #a3eeee;
}
.button-card.active{
    color: #000000;
    text-decoration: underline 3px #a3eeee;
}
.footer-txt{
    text-align: center;
}
.cardimg{
    height: 250px;
    width: 250px;
}
.modal-h{
    background-color: #000000;
    color: #a3eeee;
}

.footer-txt a{
    color: #000000;
    text-decoration: underline 3px #a3eeee;
}
.footer-txt a:hover{
    color: #000000;
    text-decoration: underline 3px #a3eeee;
}
.footer-txt a.active{
    color: #000000;
    text-decoration: underline 3px #a3eeee;
}
.footer-txt a:visited{
    color: #000000;
    text-decoration: underline 3px #a3eeee;
}

@media screen and (max-width: 767px){
    .card-in{
        margin-left: auto;
        margin-right: auto;
    }
}