.car2-img{
    height: 250px;
    width: 750px;
}
.card{
    border-color: #c0c0c0;
    border-width: 1px;
    box-shadow: 0.5px 0.5px 8px 8px #c0c0c0;
}
.car2-img-modal{
    height: 250px;
    width: 750px;
}
@media screen and (max-width: 767px){
    .car2-img{
        max-width: 300px;
        height: auto;
    }
    .car2-img-modal{
        max-width: 300px;
        height: auto;
    }
}
