.form{
    padding-top: 30px;
    padding-right: 100px;
}
.contactus{
    margin-left: 50px;
    text-decoration: underline #064d90;
}
.contactform{
    color: #064d90;
    margin-bottom: 10px;
}
.title{
    padding-top: 20px;
}

.box{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 90px;
    border-radius: 25px;
    background-color: #000000;
    color: #ffffff;
    margin-left: 40px;
}

.box-t{
    font-size: bold;
    font-weight: 20px;
}
.icon-contact{
    margin-right: 5px;
}

@media screen and (max-width: 767px){
    .box{
        margin: auto;
    }
    .list{
        margin: auto;
    }
    .form{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    .contactform{
        margin-top: 50px;
    }
}