.form{
    padding-top: 30px;
    padding-right: 100px;
}

.title{
    padding-top: 20px;
}

.box{
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
    margin-left: 40px;
}

.list{
    padding-top: 20px;
    border-radius: 25px;
    background-color: rgb(229, 229, 243);
    font-size: large;
    font-weight: 20px;
    list-style-type: none;
    padding-left: 40px;
    margin-left: 40px;
    width: 350px;
    height: 150px;
}

@media screen and (max-width: 767px){
    .box{
        margin: auto;
    }
    .list{
        margin: auto;
    }
    .form{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}