.title{
    text-align: center;
    font-size: 28px;
    color: #ffffff;
}

.contact-container{
    margin-top: 30px;
    background: linear-gradient(#3eadcf, #cef5e4);
    padding-top: 50px;
    border-radius: 20px;
    padding-bottom: 20px;
}
.field-form{
    border-color: #3562f5;
}

.form{
    padding: 40px;
}

.fields{
    padding-left: 90px;
    padding-right: 90px;
}