.footer{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
}
.f-link{
    color: #000000;
    text-decoration: underline;
}
.f-link:hover{
    color: #000000;
    text-decoration: underline;
}