  .nav-logo{
    border-radius: 50px;
    width: 80px;
    height: auto;
    margin-left: 120px;
  }
  .navbar .name{
    text-decoration: none;
    text-align:left;
    color:#000000;
    padding-left: 20px;
    font-weight: 50px;
    font-size: 40px;
  }
  .navbar {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    height:100px;
    font-size:40px;
  }
  .navbar .components .link {
    font-weight: 500px;
    text-decoration: none;
    color:#000000;
    padding-left: 15px; 
    font-size: 22px;
    padding-right: 25px;
  }
  .navbar .components .a1{
    margin-left: 400px;
  }
  .navbar .name:hover{
    color: #000000;
  }
  .navbar .name.active{
    color: #000000;
  }
  .navbar .name:visited{
    color: #000000;
  }
  
  .navbar .components .link:hover{
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
    color: #000000;
  }
  .navbar .components .link.active{
    color: #000000;
   }
  
   @media only screen 
   and (min-device-width: 768px) 
   and (max-device-width: 1024px) 
   and (-webkit-min-device-pixel-ratio: 2) {
    .navbar{
      height: auto;
    }
    .nav-logo{
      border-radius: 50px;
      width: 40px;
      height: auto;
      margin-left: 20px;
    }
    .navbar .name{
      text-decoration: none;
      text-align:left;
      color:#000000;
      padding-left: 10px;
      font-weight: 50px;
      font-size: 30px;
    }
    .navbar-toggler-icon{
      background-color: #000000;
    }
    .navbar .components .a1{
      margin: auto;
    }
    .navbar .components .link {
      margin: auto;
    }
   }
   

  @media screen and (max-width: 767px){
    .navbar{
      height: auto;
    }
    .nav-logo{
      border-radius: 50px;
      width: 40px;
      height: auto;
      margin-left: 20px;
    }
    .navbar-toggler-icon{
      background-color: #000000;
    }
    .navbar .name{
      text-decoration: none;
      text-align:left;
      color:#000000;
      padding-left: 10px;
      font-weight: 50px;
      font-size: 30px;
    }
    .navbar .components .a1{
      margin: auto;
    }
    .navbar .components .link {
      margin: auto;
    }
  }

  @media screen and (max-width: 280px){
    .navbar .name{
      text-decoration: none;
      text-align:left;
      color:#000000;
      padding-left: 10px;
      font-weight: 50px;
      font-size: 20px;
    }
    .navbar .components .link {
      font-size: 18px;
    }
  }